<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/skeleton.css">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/users/login" method="POST">

    <div id="login">
        <div>
            <input 
                type="text" 
                id="username" 
                name="username" 
                placeholder="Username" 
                required 
            />
        </div>

        <div>
            <input 
                type="password" 
                id="password" 
                name="password" 
                placeholder="Password" 
                required
            />
        </div>

        <div>
            <input 
                type="submit" 
                value="Login" 
            />
        </div>
    </div>

    <a href="/users/register">Don't have an account yet? Sign up here.</a>

    </form>
</body>
</html>